<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.expressobits.hbus" >

    <!-- Permissão para ler memória externa -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Permissão para ler memória externa -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Permissão para acesso á internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permissão para saber o estatus da rede -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- WARNING use to load alarms after boot restarted -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission
        android:name="br.com.expressobits.hbus.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="br.com.expressobits.hbus.permission.C2D_MESSAGE" />

    <application
        android:name=".application.TPCDataBaseInit"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <!-- Esta meta data é requerida com o play services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
         Optionally, register AnalyticsReceiver and AnalyticsService to support background
         dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
          Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
          installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.tour.TourActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.settings.SelectCityActivity"
            android:label="@string/title_activity_select_city"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.help.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.expressobits.hbus.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.help.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:parentActivityName=".ui.help.HelpActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.expressobits.hbus.ui.help.HelpActivity" />
        </activity>
        <activity
            android:name=".ui.TimesActivity"
            android:label="@string/title_activity_times"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.expressobits.hbus.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.expressobits.hbus.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.help.HelpContentActivity"
            android:label="@string/title_activity_help_content"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.alarm.AlarmEditorActivity"
            android:label="@string/title_activity_help_content"
            android:theme="@style/AppTheme.NoActionBar"

            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.expressobits.hbus.ui.MainActivity" />
        </activity>>

        <service
            android:name=".alarm.AlarmService"
            android:enabled="true" />

        <receiver android:name=".alarm.AlarmReceiver" />
        <receiver
            android:name=".alarm.BootReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <service
            android:name=".alarm.BootService"
            android:enabled="true" />
    </application>

</manifest>